<%= form_with(model: @job, local: true, multipart: true, id:'job-form') do |f| %>
<%= render "form_errors", object: @job %>

 <div class="form-group input-group-lg">
    <%= f.label "Casting title" %>
    <%= f.text_field :title, class:'form-control', placeholder:"eg: Men with long beards" %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label :description %>
    <%# f.rich_text_area :description, class: 'form-control' %>
    <%= f.text_area :description, rows: 8, class: 'form-control' %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label :production_image %>
    <% unless @job.production_image.attached? %>
      <div class="bg-light rounded dropzone dropzone-default dz-clickable " data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
        <%= f.file_field :production_image, direct_upload: true, data: { target: 'dropzone.input' } %>
        <div class="dropzone-msg dz-message needsclick ">
          <p class="dropzone-msg-title">Drag image here to start upload or tap to browse</p>
          <span class="dropzone-msg-desc small text-muted">2 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
      </div>
    <% else %>
      <div class="job-image">
      <%= image_tag(@job.production_image.variant(resize_to_limit: [800,800]),class:"img-fluid w-100 rounded") %>
      <%= link_to('Remove Photo', remove_attachment_job_path, method: :patch, remote: true, class:"") %>
      </div>
    <% end %>
  </div>

  <h3 class="mt-5 mb-4">Roles</h3>
  
  <%= f.fields_for :roles do |r| %>
    <div class="form-group input-group-lg">
      <%= r.text_field :role_name , class: 'form-control',placeholder:'Role' %>
    </div>
    <div class="form-group input-group-lg">
      <%= r.text_area :role_description, rows: 4, class: 'form-control', placeholder:'Role description'%>
    </div>
  <% end %>

  <h3 class="mt-5 mb-4">Dates and Location</h3>

  <div class="form-row">
    <div class="col-lg-6">
      <div class="form-group mb-3">
        <div class="input-group input-group-lg">
              <div class="input-group-prepend ">
              <span class="input-group-text bg-light">Start</span>
            </div>
          <%= f.text_field :shoot_start_date, class:'form-control flatpickr-input', data: {behavior: 'flatpickr'}, placeholder: "Date Select" %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group mb-3">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-light">End</span>
          </div>
          <%= f.text_field :shoot_end_date, class:'form-control flatpickr-input', data: {behavior: 'flatpickr'}, placeholder: "Date Select" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label "Location" %>
    <%= f.select :shoot_location, Job::LOCATION,{ include_blank: false }, class: 'form-control custom-select' %>
  </div>

  <h3 class="mt-5 mb-4">Payment</h3>

  <div class="form-row">
    <div class="col">
      <div class="form-group input-group-lg">
        <%= f.select :union_status, Job::UNION_STATUS,{ include_blank: "Union status" }, class: 'form-control custom-select' %>
      </div>
    </div>
  
    <div class="col-lg-5">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend ">
          <span class="input-group-text bg-light">$</span>
        </div>
        <%= f.text_field :payment, class: 'form-control', placeholder:"" %>
        <div class="input-group-prepend input-group-append">
          <span class="input-group-text bg-light">/</span>
        </div>
        <%= f.select :pay_interval, Job::PAY_INTERVAL,{ include_blank: false }, class: 'form-control custom-select' %>
      </div>
    </div>
  </div>
      

  <div class="form-group input-group-lg">
    <%= f.label :payment_details %>
    <%= f.text_area :payment_details, rows: 5, class: 'form-control' %>
  </div>

  <h3 class="mt-5 mb-4">Production Details</h3>
  
  <div class="form-group input-group-lg">
    <%= f.label "Production name" %>
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="form-group input-group-lg">
    <%= f.label 'Production URL' %>
    <%= f.url_field :url, class: 'form-control' %>
  </div>

  <h3 class="mt-5 mb-4">Submissions</h3>

  <div class="form-group input-group-lg">
    <%= f.text_area :special_instructions, class: 'form-control', placeholder:"Special instructionns or requirements for submitting" %>
  </div>

  <hr class="bg-light">

  <div class="form-group input-group-lg">
    <%= f.label :listing_expires %>
    <%= f.text_field :listing_expires, data: {behavior: 'flatpickr'}, class: 'form-control flatpickr-input', placeholder:"Set date when this listing should be removed." %>
  </div>

  <div class="form-group input-group-lg">
    <div class="actions">
      <%= f.submit class: 'btn btn-success btn-lg' %>
    </div>
  </div>
<% end %>



