<%= form_with(model: job, local: true, multipart: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if form.object.production_image.attached? %>
  <%= image_tag form.object.production_image, class: 'image-fluid w-50' %>
  <% end %>

 <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%# form.rich_text_area :description, class: 'form-control' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :production_image %>
    <div class="dropzone dropzone-default dz-clickable " data-controller="dropzone" data-dropzone-max-file-size="1" data-dropzone-max-files="2">
      <%= form.file_field :production_image, direct_upload: true, data: { target: 'dropzone.input' } %>
    <div class="dropzone-msg dz-message needsclick ">
      <p class="dropzone-msg-title">Drag image here to start upload or tap to browse</p>
      <span class="dropzone-msg-desc small text-muted">2 MB file size maximum. Allowed file types png, jpg.</span>
    </div>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :listing_expires %>
    <%= form.datetime_select :listing_expires, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.url_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :union_status %>
    <%= form.text_field :union_status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment %>
    <%= form.text_field :payment, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :payment_detials %>
    <%= form.text_area :payment_detials, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :shoot_date %>
    <%= form.datetime_select :shoot_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :shoot_location %>
    <%= form.text_field :shoot_location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :special_instructions %>
    <%= form.text_area :special_instructions, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :member_id %>
    <%= form.text_field :member_id, class: 'form-control' %>
  </div>

<div class="form-group">
  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
</div>
<% end %>
