<div class="card shadow-sm mb-3">
  <div class="card-body">
  <h6 class="card-title">
    <% unless job.created_at < DateTime.current.days_ago(5) %>
      <span class="badge bg-action small text-dark mr-2">New</span>
    <% end %>
    <%= link_to job.title, job_path(job), remote: false, class:'text-reset stretched-link', id:'remote' %>
    </h6>
    <p class="card-text small">Posted by: <%= job.member.first_name %></p>
    <p class="text-muted small mb-0">Union Status: <%= job.union_status %></p>
    <p class="text-muted small">Shoots: <%= job.shoot_start_date.strftime('%b %d') %> - <%= job.shoot_end_date.strftime('%b %d') %> in <%= job.shoot_location %></p>
    <p class="card-text font-weight-light"><%= truncate(job.description, :ommision => "... Read More", :length => 150) %></p>
    <p class="card-text font-weight-bold">$<%= job.payment %></p>
    <p class="card-text">
      <%# link_to "View Details", job_path(job), class: "link-stretch" %>
    </p>
    <div class="card-text small"><span class="small text-muted">Posted <%= time_ago_in_words(job.created_at) %> ago</span></div>
  </div>
  <%# if job.production_image.attached? %>
    <%# image_tag(job.production_image, class:"card-img clear", :alt => "...") %>
    <%# else %>
    <%# image_tag(job.some_image, class:"card-img clear", :alt => "...") %>
  <%# end %>
</div>
