<%# This job template is for home page only %>
<% @jobs.each do |job| %>
  <div class="card shadow-sm mb-3">
    <div class="card-body" style="transform: rotate(0);">
    <h6 class="card-title">
      <% unless job.created_at < DateTime.current.days_ago(5) %>
        <span class="badge bg-action small text-dark mr-2">New</span>
      <% end %>
      <%= link_to job.title, job_path(job), remote: true, class:'text-reset stretched-link', id:'remote' %>
      </h6>
      <p class="text-muted small mb-0">Union Status: <%= job.union_status %></p>
      <p class="text-muted small mb-1">Shoots: <%= job.shoot_start_date.strftime('%b %d') %> - <%= job.shoot_end_date.strftime('%b %d') %> in <%= job.shoot_location %></p>
      <p class="card-text">$ <%= job.payment %></p>
      <div class="card-text small"><span class="small text-muted">Posted <%= time_ago_in_words(job.created_at) %> ago</span></div>
    </div>
    <div class="card-body" id="phone-only" style="transform: rotate(0);">
      <%= link_to('Details', job_path(job),class:'btn btn-primary stretched-link btn-lg ') %>
    </div>
    <%# if job.production_image.attached? %>
      <%# image_tag(job.production_image, class:"card-img clear", :alt => "...") %>
      <%# else %>
      <%# image_tag(job.some_image, class:"card-img clear", :alt => "...") %>
    <%# end %>
    </div>
<% end %>