<div class="container-fluid bg-dark ">
  <div class="row py-0">
    <div class=" col-sm-3 col-md-3 border-right border-danger p-4 sticky-top bg-filter">
      <div class="sticky-top ">
      <p class="align-text-top"><%= icon("chevron-left", class: "text-info align-middle") %><%= link_to 'Back', jobs_path %></p>
        <h1 class="text-warning"><%= @job.title %></h1>
        <p><%= @job.url %></p>
        <p><%= @job.union_status %> <strong><%= @job.payment %></strong></p>
        <p><%= @job.payment_detials %></p>
        <p> <span>Dates & Location:</span><br>
          <%= @job.shoot_start_date.strftime('%b %d') %> - <%= @job.shoot_end_date.strftime('%b %d') %> in <%= @job.shoot_location %>
        </p>
        <p><%= @job.company_name %></p>
        <%= link_to 'Apply Now', '#', class:'btn btn-success' %>
        <hr>
        <div class="small">
        <span class= "text-muted">Expires: <%= @job.listing_expires.strftime('%b %d') %></span>
          <% if author_of(@job) || admin? %>
          <p>Status: <%=published?(@job) %></p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to('Publish', publish_job_path(@job), method: :put, class:"btn btn-sm btn-outline-success") %>
              <%= link_to('Unpublish', unpublish_job_path(@job), method: :put, class:"btn btn-sm btn-outline-secondary") %>
              <%= link_to('Edit', edit_job_path(@job),class:"btn btn-sm btn-outline-secondary" )%>
              <%= link_to 'Delete', job_path(@job), class:"btn btn-sm btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" }  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class=" col-sm-9 col-md-9 col-lg-7 col-xl-5 bg-dark p-4">
    <p><%= image_tag(@job.production_image, class:'img-fluid') if @job.production_image.attached? %></p>
      <p><%= @job.description %></p>
    </div>
  </div>
</div>



