<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 mx-auto bg-666" style="max-width: 800px;" >

        <p class="align-text-top py-4 mb-0"><%= icon("chevron-left", class: "text-info align-middle") %><%= link_to 'Back', jobs_path %></p>
        <div class="row">
          <%= image_tag(@job.production_image, class:'img-fluid w-100') if @job.production_image.attached? %>
        </div>
          <div class="row bg-dark sticky-top shadow-sm mb-4">  
            <div class="col py-4">
              <h3 class=""><%= @job.title %></h1>
              <p><%= @job.union_status %> <strong><%= @job.payment %></strong></p>
                <p> <span>Dates & Location:</span><br>
                <%= @job.shoot_start_date.strftime('%b %d') %> - <%= @job.shoot_end_date.strftime('%b %d') %> in <%= @job.shoot_location %></p>
                <%= link_to 'Apply Now', apply_job_path, method: :put, class:'btn btn-success' %>  
            </div>
          </div>  
          <p><%= @job.description %></p>
          <p><%= @job.url %></p>
          <p><%= @job.payment_detials %></p>

          <div class="row bg-gray-900">
            <div class="col my-4 rounded bg-gray-700 py-4">
              <span class= "text-muted">Expires: <%= @job.listing_expires.strftime('%b %d') %></span>
              <% if author_of(@job) || admin? %>
              <% published?(@job) %><p>Status: <span id='status', class='text-<%=@class%>'><%= @status %></span></p>
              <div class="btn-group">
                <% if !@job.published? %>
                  <%= link_to('Publish', publish_job_path(@job), remote: true, method: :put, class:"btn btn-sm btn-outline-secondary") %>
                <% else %>
                  <%= link_to('Unpublish', unpublish_job_path(@job), remote: true, method: :put, class:"btn btn-sm btn-outline-secondary") %>
                <% end %>
                <%= link_to('Edit', edit_job_path(@job),class:"btn btn-sm btn-outline-secondary" )%>
                <%= link_to 'Delete', job_path(@job), class:"btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: "Are you sure?" }  %>
              </div>
              <% end %>
            </div>
          </div>
    </div>
  </div>
</div>