<div class="container-fluid bg-dark">
  <div class="row py-4">
  
    <div class="col-md-5 col-lg-3">
      <p class="align-text-top"><%= icon("chevron-left", class: "text-info ", width:".8rem", height:".8rem") %><%= link_to 'Back', jobs_path %></p>
      
      <%= image_tag(@job.production_image, class:'img-fluid') if @job.production_image.attached? %>
        <h1>
          <%= @job.title %>
        </h1>
        <p>
          <%= @job.description %>
        </p>
        <%= @job.company_name %>
        <%= @job.listing_expires %>
        <%= @job.url %>
        <%= @job.union_status %>
        <%= @job.payment %>
        <%= @job.payment_detials %>
        <%= @job.shoot_date.strftime("%m/%d/%Y") %>
        <%= @job.shoot_location %>
        <%= @job.special_instructions %>
      
      <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" } if author_of(@job) || admin? %>
      <%= link_to 'Edit', edit_job_path(@job) if author_of(@job) || admin? %> |
      

    </div>
  </div>
</div>
