<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="bg-light shadow-sm rounded p-5">
        <div class="border-bottom mb-3 bg-light pb-4">
          <h3 class=""><%= @job.title %></h1>
        <p><%= @job.description %></p>

        <% if @job.roles.present? %>
          <h3>Roles</h3>
          <% @job.roles.each do |job| %>
            <p><%= job.role_name %></p>
            <p><%= job.role_description %></p>
          <% end %>
        <% end %>
        <p><span class="text-secondary">Payment: </span>  $<%= @job.payment %>/<%= @job.pay_interval %><br><%= @job.payment_details %></p>
          <%= link_to 'Apply Now', apply_job_path, method: :put, class:'btn btn-success ' %>
        </div>
        <p><span class="text-secondary">Union Status: </span><%= @job.union_status %></p>
        <p><span class="text-secondary">Shoot dates & Location:</span><br>
        <%= @job.shoot_start_date %> - <%= @job.shoot_end_date %> in <%= @job.shoot_location %></p>
        <hr>
        <p><span class="text-secondary">Special Instructions:</span><br><%= @job.special_instructions %></p>
  

          <%= image_tag(@job.production_image.variant(resize_to_limit: [2000,2000]),class:"img-fluid w-100 rounded") if @job.production_image.attached? %>
          <%# link_to('Remove Photo', remove_attachment_job_path, method: :patch, remote: true, class:"") if @job.production_image.attached? %>

        <% if @job.company_name.present? %>
          <p><span class="text-secondary">Production Details:</span><br>
          <%= @job.company_name %><br>
          <%= @job.url %></p>
        <% end %>
  
 
            <p class="card-text small"><span class="text-muted">Posted by:</span> <%= link_to(@job.member.first_name,member_path(@job.member_id)) %> <span class="  text-muted">  <%= time_ago_in_words(@job.created_at) %> ago</span></p>
        <span class= "text-muted small">Listing expires: <%= @job.listing_expires %></span></p>
      </div>
    </div>



      <div class="col-md-4 pr-md-0 d-none d-md-block">
        <div class="card rounded shadow-sm p-3 ">
    <% if can? :manage, @job %>
          <h4 class="mb-5">Manage Listing</h4>
          <p class="small">Created on: <%= @job.created_at%></p>
          <% published?(@job) %><p>Status: <span id='status', class='text-<%=@class%>'><%= @status %></span></p>
          
            <div class="d-inline">
              <div class="btn-group mb-4">
                <% if !@job.published? %>
                <%= link_to('Publish', publish_job_path(@job), remote: true, method: :put, class:"btn btn-sm btn-outline-secondary") %>
                <% else %>
                <%= link_to('Unpublish', unpublish_job_path(@job), remote: true, method: :put, class:"btn btn-sm btn-outline-secondary") %>
                <% end %>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <%= link_to('Edit', edit_job_path(@job),class:"btn btn-sm btn-outline-secondary" )%>
                    <%= link_to 'Delete', job_path(@job), class:"btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: "Are you sure?" }  %>
                  </div>
              </div>
            </div>
    <% end %>
        </div>
      </div>

  </div>
</div>