<section id="hero">
	<% content_for :jumbotron do %>
		<div class="jumbotron jumbotron-fluid mb-0">
			<div class="container text-center">
				<h2 class ="display-4">Find Background Acting Jobs<br> in New Mexico</h2>
				<% unless member_signed_in? %>
				<p class="text-center">
					<%= link_to 'Sign in',new_member_session_path, class:'btn btn-primary'%>
					<%= link_to 'Sign Up',new_member_registration_path, class:'btn btn-outline-action'%>
				</p>
				<% end %>
				<hr class='w-50'>
				<p class="text-center text-muted">Need extras for your project? <%= link_to 'Post a Job', new_job_path, class:'action'  %></p>
			</div>
		</div>
	<% end %>
</section>

<section id="casting_calls" class="content">
	<div class="container" style="max-width: 800px;">
		<div class="row justify-content-center">
			<div class="col-12 mb-3 p-md-0">
				<%= render 'layouts/search-form' %>
			</div>
			<div class="col-md-5 pl-md-0">
				<%= render partial: 'jobs/job_card', object: @jobs %>
				<%# render @jobs %>
			</div>
			<div class="col-md-7 bg-light shadown-sm rounded ">
				<div id="job-details" class="pt-3">
					Signup to get updates about local productions and casting calls
				</div>
			</div>
		</div>
	</div>
</section>


