<section id="hero">
	<% content_for :jumbotron do %>
		<div class="jumbotron jumbotron-fluid">
			<div class="container-fluid text-center">
				<h1 class ="display-3">Find Background Acting Jobs<br> in New Mexico</h1>
				<% unless member_signed_in? %>
				<p class="text-center">
					<%= link_to 'Sign in',new_member_session_path, class:'btn btn-primary'%>
					<%= link_to 'Sign Up',new_member_registration_path, class:'btn btn-outline-action'%>
				</p>
				<% end %>
				<hr class='w-50'>
				<p class="text-center text-muted">Need extras for your project? </p>
				<%= link_to 'Post a Casting Call', new_job_path, class:'btn btn-success'  %>
			</div>
		</div>
	<% end %>
</section>

<section id="casting_calls" class="content">
	<div class="container">
		<div class="row justify-content-center g-0">
			<div class="col-12 mb-3 p-md-0">
				<%= render 'layouts/search-form' %>
			</div>
			<div class="col-md-5 pl-md-0">
				<%= render partial: 'jobs/job_card', object: @jobs %>
				<%# render @jobs %>
			</div>
			<div class="col-md-7">
				<div class="bg-light bg-light shadown-sm rounded vh-100">
					<div id="job-details" class="p-3">
						<p>Signup to get updates about local productions and casting calls</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


