<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card shadow-sm bg-light">
        <%= image_tag(@member.profile_image.variant(resize_to_limit: [800,800]),class:"img-fluid card-img-top ") if @member.profile_image.attached? %>
        <div class="card-body">
        <%= link_to('Delete Photo', delete_profile_photo_members_path, method: :patch, class:"") if current_member.profile_image.attached? %>
          <p class="card-title"><%= @member.first_name %></p>
          <p class="card-subtitle mb-2 text-muted"><%= @member.email %></p>
        </div>
        <% if signed_in? && @member == current_member %>
          <ul class="list-group list-group-flush bg-light">
            <li class="list-group-item bg-light">
              <%= link_to("Edit Prfile", edit_member_registration_path) %>
            </li>
            <li class="list-group-item bg-light">
              
              <%= link_to("Change Password", edit_password_members_path) %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col bg-light shadow-sm rounded p-3">
      <p class="align-text-top py-4 mb-0"><%= icon("chevron-left", class: "text-info align-middle") %><%= link_to 'Back', :back %></p>
      <h4>Change Password</h4>
      <%= form_for(@member, :url => { :action => "update_password" } ) do |f| %>
      <%= render "devise/shared/error_messages", resource: @member %>
        <div class="form-group input-group-lg">
          <%= f.label :password %>
            <span class="small text-warning">
            <% if @minimum_password_length %>
            ( <%= @minimum_password_length %> characters minimum )
            <% end %></span>
          <%= f.password_field :password, autocomplete: false, class: 'form-control'  %>
          <small id="emailHelp" class="form-text text-muted"> 6 characters minimum</small>
        </div>

        <div class="form-group input-group-lg">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: false, class: 'form-control'  %>
        </div>
        <div class="form-group input-group-lg">
          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>