<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card shadow-sm">
        <%= image_tag(current_member.profile_image.variant(resize_to_limit: [800,800]),class:"img-fluid card-img-top") if current_member.profile_image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= current_member.first_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= current_member.email %></h6>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">
              <%= link_to("Edit profile", edit_member_registration_path(current_member)) %>
              
            </li>
            <li class="list-group-item bg-light">
            <%= link_to("Change Password", edit_member_path(current_member)) %>
            </li>
      </div>
    </div>
    
    <div class="col bg-light shadow-sm rounded p-3" style="max-width: 600px;">
    <% if current_member.jobs.any? %>
      <h6>Your Casting Calls</h6>
      <%= render "member_jobs" %>
    <% else %>
      <div class="text-center d-flex justify-content-center flex-column align-items-center h-100">
      <p>You do not have any casting calls yet</p>
       <%= link_to "Post a Casting Call", new_job_path, class:"btn btn-success" %>
      </div>
    <% end %>
    </div>

  </div>
</div>
